#message-window {
	width: 100%;
	height: 54em;
	display: block;

	border: 1px solid #ccc;
	background-color: aliceblue;
	font-family: verdana;

	resize: none;
}

#message-field {
	width: 93%;
}

#send-message-button {
	width: 5%;
	margin: 0;
	margin-left: 1.5em;
}
